<h1>Calculate the suare of a number</h1>

<form action="/payment/result">
  <label for="apr_id">APR</label>
   <input id="apr_id" name="apr">
  <label for="years_id">Number of years</label>
   <input id="years_id" name="years">
    <label for="principal_id">Principal</label>
     <input id="principal_id" name="principal">
 
 
  <button>Calculate monthly payment</button>
