<h1>Calculate the square of a root number</h1>

<form action="/square_root/result">
  <label for="number_id">Enter a number</label>
  <input id="number_id" name="number">
 
  <button>Calculate square root</button>
</form>
