<h1>Calculate the suare of a number</h1>

<form action="/square/result">
  <label for="number_id">Enter a number</label>
  <input id="number_id" name="number">
 
  <button>Calculate square</button>
</form>
